# Topic: DOHMH New York city Restaurant
## Data Preprocessing
### Inports

In [1]:
import pandas as pd
from eclyon.transforms import process_df

### Inport the data

In [33]:
df = pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results_20251108.csv')
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location
0,50167878,GOLDEN STEAMER I INC.,Manhattan,143,MOTT STREET,10013.0,6465231688,NaN,01/01/1900,NaN,...,NaN,40.718681,-73.996645,102.0,1.0,4100.0,1079581.0,1.002370e+09,MN24,POINT (-73.996645049413 40.718681310365)
1,50168599,THAI FLAVOR 88 INC.,Manhattan,174,2 AVENUE,10003.0,2122542868,NaN,01/01/1900,NaN,...,NaN,40.730464,-73.986296,103.0,2.0,4000.0,1077704.0,1.004530e+09,MN22,POINT (-73.986296382711 40.730463823842)
2,50162584,COZY TEA LOFT,0,141,STATE ROUTE 27,8820.0,3472619435,NaN,01/01/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50174672,EL PALENQUE MEXICAN RESTAURANT CORPORATION,Brooklyn,181,WEST END AVENUE,11235.0,7182553580,NaN,01/01/1900,NaN,...,NaN,40.577340,-73.952961,315.0,48.0,62000.0,3245985.0,3.087320e+09,BK17,POINT (-73.952961276652 40.577340234075)
4,50155679,ZADDY'S JERK CHICKEN,Brooklyn,686,HEGEMAN AVENUE,11207.0,7187752616,NaN,01/01/1900,NaN,...,NaN,40.662080,-73.886624,305.0,42.0,110400.0,3097445.0,3.043290e+09,BK82,POINT (-73.886623536611 40.662080196538)

### Look at the data

In [3]:
df.shape

(291705, 27)

In [4]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291705 entries, 0 to 291704
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  291705 non-null  int64
 1   DBA                    291702 non-null  object
 2   BORO                   291705 non-null  object
 3   BUILDING               290804 non-null  object
 4   STREET                 291694 non-null  object
 5   ZIPCODE                288528 non-null  float64
 6   PHONE                  291699 non-null  object
 7   CUISINE DESCRIPTION    287770 non-null  object
 8   INSPECTION DATE        291705 non-null  object
 9   ACTION                 287770 non-null  object
 10  VIOLATION CODE         285470 non-null  object
 11  VIOLATION DESCRIPTION  285470 non-null  object
 12  CRITICAL FLAG          291705 non-null  object
 13  SCORE                  275295 non-null  float64
 14  GRADE                  142326 non-null  object
 15  GRADE DATE             134672 non-null  object
 16  RECORD DATE            291705 non-null  object
 17  INSPECTION TYPE        287770 non-null  object
 18  Latitude               291156 non-null  float64
 19  Longitude              291156 non-null  float64
 20  Community Board        287582 non-null  float64
 21  Council District       287590 non-null  float64
 22  Census Tract           287590 non-null  float64
 23  BIN                    286148 non-null  float64
 24  BBL                    290544 non-null  float64
 25  NTA                    287582 non-null  object
 26  Location               288194 non-null  object
dtypes: float64(9), int64(1), object(17)
memory usage: 60.1+ MB

In [6]:
print("Numerical Data Statistics:")
num_cols = ["SCORE", "Community Board", "Council District", "Census Tract", "BIN", "BBL"]
df_numeric = df[num_cols]  
df_numeric.describe().round(2)

Numerical Data Statistics:

,SCORE,Community Board,Council District,Census Tract,BIN,BBL
count,275295.00,287582.00,287590.00,287590.00,286148.00,2.905440e+05
mean,25.02,254.77,20.61,29838.25,2581693.34,2.474824e+09
std,18.77,130.36,15.71,31260.21,1354087.73,1.338135e+09
min,0.00,101.00,1.00,100.00,1000000.00,1.000000e+00
25%,12.00,106.00,4.00,8000.00,1051462.00,1.011150e+09
50%,21.00,302.00,20.00,17300.00,3020923.00,3.007840e+09
75%,33.00,401.00,34.00,42400.00,4010761.00,4.006210e+09
max,203.00,595.00,51.00,162100.00,5799501.00,5.270001e+09

In [7]:
print("Unique Values Count:")
print(df.nunique())

Unique Values Count:
CAMIS                    30566
DBA                      24259
BORO                         6
BUILDING                  8178
STREET                    2479
ZIPCODE                    238
PHONE                    27053
CUISINE DESCRIPTION         90
INSPECTION DATE           1817
ACTION                       5
VIOLATION CODE             149
VIOLATION DESCRIPTION      226
CRITICAL FLAG                3
SCORE                      144
GRADE                        6
GRADE DATE                1597
RECORD DATE                  1
INSPECTION TYPE             34
Latitude                 24540
Longitude                24539
Community Board             68
Council District            51
Census Tract              1183
BIN                      21158
BBL                      20790
NTA                        193
Location                 24539
dtype: int64

### Delete useless columns

In [8]:
df = df.drop(columns=['GRADE DATE', 'GRADE', 'RECORD DATE'], errors='ignore')

"GRADE DATE" is the result time, not the predictive feature, and the "INSPECTION DATE" column already contains time information

From the official documents, it can be known that the “GRADE” is derived based on the size of the “score”. We can also predict the score to obtain the grade more accurately. Therefore, I choose to delete the grade column (at the same time, grade has 51% missing values, which will affect the result).

![Oficial document](./images/GRADE.png)

### Check and delete duplicate value 

(for example, if there are duplicate values in the restaurant check).

In [9]:
df.duplicated().sum()

np.int64(6)

In [10]:
df = df.drop_duplicates()

### Add feature values

In [11]:
df['INSPECTION DATE'] = pd.to_datetime(df['INSPECTION DATE'])
df = df.sort_values(by=['CAMIS', 'INSPECTION DATE'])

1. Calculate the number of days since the last inspection

In [12]:
df['days_since_last'] = df.groupby('CAMIS')['INSPECTION DATE'].diff().dt.days

2. Calculate the average of the scores of the past three times

In [13]:
df['avg_last_3_scores'] = df.groupby('CAMIS')['SCORE'].transform(
    lambda x: x.shift(1).rolling(window=3, min_periods=1).mean()
)

Fill the missing value in these two new colunms

In [14]:
df['days_since_last'] = df['days_since_last'].fillna(730) 
# The first record does not have "last time". Fill in a larger number for the number of days (2 years = 730 days).

In [15]:
global_mean_score = df['SCORE'].mean()
df['avg_last_3_scores'] = df['avg_last_3_scores'].fillna(global_mean_score)

In [16]:
print(df.columns)

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'INSPECTION TYPE',
       'Latitude', 'Longitude', 'Community Board', 'Council District',
       'Census Tract', 'BIN', 'BBL', 'NTA', 'Location', 'days_since_last',
       'avg_last_3_scores'],
      dtype='object')

### Processing time characteristics

In [17]:
df['INSPECTION DATE'] = pd.to_datetime(df['INSPECTION DATE'], errors='coerce')
df['inspection_year'] = df['INSPECTION DATE'].dt.year
df['inspection_month'] = df['INSPECTION DATE'].dt.month
df['inspection_weekday'] = df['INSPECTION DATE'].dt.weekday

In [18]:
df.drop(columns=['INSPECTION DATE'], inplace=True)

In [19]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'INSPECTION TYPE',
       'Latitude', 'Longitude', 'Community Board', 'Council District',
       'Census Tract', 'BIN', 'BBL', 'NTA', 'Location', 'days_since_last',
       'avg_last_3_scores', 'inspection_year', 'inspection_month',
       'inspection_weekday'],
      dtype='object')

### Inspect missing values

In [20]:
df.isnull().describe()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,ACTION,VIOLATION CODE,...,Census Tract,BIN,BBL,NTA,Location,days_since_last,avg_last_3_scores,inspection_year,inspection_month,inspection_weekday
count,291699,291699,291699,291699,291699,291699,291699,291699,291699,291699,...,291699,291699,291699,291699,291699,291699,291699,291699,291699,291699
unique,1,2,1,2,2,2,2,2,2,2,...,2,2,2,2,2,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,291699,291696,291699,290798,291688,288528,291693,287764,287764,285464,...,287590,286148,290538,287582,288194,291699,291699,291699,291699,291699

In [21]:
missing_values = df.isnull().sum()
print("Missing Values Count:")
print(missing_values[missing_values > 0])

Missing Values Count:
DBA                          3
BUILDING                   901
STREET                      11
ZIPCODE                   3171
PHONE                        6
CUISINE DESCRIPTION       3935
ACTION                    3935
VIOLATION CODE            6235
VIOLATION DESCRIPTION     6235
SCORE                    16410
INSPECTION TYPE           3935
Latitude                   549
Longitude                  549
Community Board           4117
Council District          4109
Census Tract              4109
BIN                       5551
BBL                       1161
NTA                       4117
Location                  3505
dtype: int64

In [22]:
print("\nPercentage of missing values:")
perc = round(df.isnull().sum() / len(df), 2) * 100
missing_columns = perc[perc > 0]
missing_columns

Percentage of missing values:

ZIPCODE                  1.0
CUISINE DESCRIPTION      1.0
ACTION                   1.0
VIOLATION CODE           2.0
VIOLATION DESCRIPTION    2.0
SCORE                    6.0
INSPECTION TYPE          1.0
Community Board          1.0
Council District         1.0
Census Tract             1.0
BIN                      2.0
NTA                      1.0
Location                 1.0
dtype: float64

In [23]:
df = df.dropna(subset=['SCORE'])

In [24]:
df_processed, y, nas = process_df(df, y_field = 'SCORE')

In [25]:
missing_values = df_processed.isnull().sum()
print("Missing Values Count:")
print(missing_values[missing_values > 0])

Missing Values Count:
Series([], dtype: int64)

In [26]:
df_processed.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'INSPECTION TYPE', 'Latitude',
       'Longitude', 'Community Board', 'Council District', 'Census Tract',
       'BIN', 'BBL', 'NTA', 'Location', 'days_since_last', 'avg_last_3_scores',
       'inspection_year', 'inspection_month', 'inspection_weekday',
       'ZIPCODE_na', 'Latitude_na', 'Longitude_na', 'Community Board_na',
       'Council District_na', 'Census Tract_na', 'BIN_na', 'BBL_na'],
      dtype='object')

In [27]:
print(df['SCORE'].describe())

count    275289.000000
mean         25.021850
std          18.769634
min           0.000000
25%          12.000000
50%          21.000000
75%          33.000000
max         203.000000
Name: SCORE, dtype: float64

Delete the outliers in the SCORE column

In [28]:
abnormal = df[(df['SCORE'] > 100)]
print("The number of outliers:", len(abnormal))

The number of outliers: 1625

In [29]:
ratio = len(abnormal) / len(df)
print(f"Abnormal proportion: {ratio:.2%}")

Abnormal proportion: 0.59%

In [30]:
df_model = df[(df['SCORE'] >= 0) & (df['SCORE'] <= 100)]

### Variable to predict

Predicting the next rating of the restaurant.

In [31]:
df.SCORE

7869      21.0
30650     21.0
31702     21.0
32597     21.0
104246    21.0
          ...
249859    13.0
76327      8.0
229996     8.0
4539       7.0
32024      2.0
Name: SCORE, Length: 275289, dtype: float64

### Save cleaned data set

In [32]:
df.to_csv("cleaned_restaurant_inspection_data_3.csv", index=False)